
<form name="loginForm" novalidate ng-submit="signinCtrl.signin()">
	<div class="login-or">
			<hr class="hr-or">
			<span class="span-or">or</span>
	</div>

	<hr class="colorgraph">

	<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
		<input type="email" name="email" id="email" class="form-control input-lg" ng-model="signinCtrl.user.email" placeholder="Email Address" tabindex="4" required>
	  <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Your email address is required.</p>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
				<input type="password" name="password" id="password" class="form-control input-lg" ng-model="signinCtrl.user.password" placeholder="Password" tabindex="5" required>
			  <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Please enter your password</p>
			</div>
		</div>
	</div>

	<hr class="colorgraph">

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<input type="submit" value="Login in" class="btn btn-primary btn-block btn-lg" tabindex="7"  ng-disabled="loginForm.$invalid"></div>
	</div>

	<p ng-show="signinCtrl.errorMessage" class="pull-right help-block" ng-class="{ 'text-danger': signinCtrl.errorMessage }">Your email / password is invalid</p>
</form>
