
<form role="form" ng-submit="signinCtrl.signin(signinCtrl.user)">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<input value="Sign in with Google" class="btn btn-info btn-block btn-lg" tabindex="7"></div>
	</div>
	<div class="login-or">
			<hr class="hr-or">
			<span class="span-or">or</span>
	</div>

	<hr class="colorgraph">

	<div class="form-group">
		<input type="email" name="email" id="email" class="form-control input-lg" ng-model="signinCtrl.user.email" placeholder="Email Address" tabindex="4">
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="password" name="password" id="password" class="form-control input-lg" ng-model="signinCtrl.user.password" placeholder="Password" tabindex="5">
			</div>
		</div>
	</div>

	<hr class="colorgraph">

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
	</div>
</form>
