<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <signin ng-if="loginCtrl.showSignin"></signin>
    <button ng-click="loginCtrl.showSignin=false"> Sign up <button>
    <!-- <a href="/#/login" ng-click="loginCtrl.showSignin=false" ng-if="loginCtrl.showSignin">Already a member? Go to login</a> -->

    <signup ng-if="!loginCtrl.showSignin"></signup>
        <button ng-click="loginCtrl.showSignin=true"> Login <button>
    <!-- <a href="/#/s" ng-click="loginCtrl.showSignin=true" ng-if="!loginCtrl.showSignin">Not a member yet? Go to Signup</a> -->
  </div>
</div>
