.fileUploader {
  min-height: 170px;
  width: 520px;
  margin: 0 auto;
  border: 2px dotted #9e9e9e;
  border-radius: 7px;
  background: #efefef;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-top:5px;
}

