<form class="form-horizontal col-md-6"
    novalidate
    ng-submit="newBedroomCtrl.createNewBed()">

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">type</label>
      <div class="col-md-4">
        <input id="type" name="type"  class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.type" required>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">sqft</label>
      <div class="col-md-4">
      <input id="sqft" name="sqft" class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.bedSize" required>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">street</label>
      <div class="col-md-4">
      <input id="street" name="street" class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.bedType" required>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">city</label>
      <div class="col-md-4">
      <input id="city" name="city" class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.sleepNum" required>
      </div>
    </div>


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">zip</label>
      <div class="col-md-4">
      <input id="zip" name="zip" class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.privateBath" required>
      </div>
    </div>

    <!-- Button -->
    <button type="submit" class="btn btn-primary">Add Bedroom</button>
  </form>