<form class="form-horizontal col-md-6"
    novalidate
    ng-submit="newBedroomCtrl.createNewBed()">

    <!-- Text input-->
    <!-- <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">type</label>
      <div class="col-md-4">
        <input id="type" name="type"  class="form-control input-md" type="text" ng-model="newBedroomCtrl.bedroom.type" required>
      </div>
    </div> -->
    <div class="form-group">
      <label for="exampleSelect1">Bedroom Type</label>
      <select class="form-control" id="exampleSelect1" ng-model="newBedroomCtrl.bedroom.type" required>
        <option ng-selected="true">Choose Bedroom Type</option>
        <option>Master</option>
        <option>Regular</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelect1">Bed Size</label>
      <select class="form-control" ng-model="newBedroomCtrl.bedroom.bedSize" required>
        <option ng-selected="true">Choose Bed Size</option>
        <option>King</option>
        <option>Queen</option>
        <option>Double</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelect1">Private Bathroom</label>
      <select class="form-control" ng-model="newBedroomCtrl.bedroom.privateBath" required>
        <option ng-selected="true">Has Private Bathroom?</option>
        <option>True</option>
        <option>False</option>
      </select>
    </div>


    <!-- Button -->
    <button ng-click="bedroomModalCtrl.close()" type="submit" class="btn btn-primary">Add Bedroom</button>
  </form>
