<div class="col-md-12">
  <div class="col-md-3">
    <sidebar profile="profileCtrl.profile"></sidebar>
  </div>
  <div class="col-md-9">
  
    <div class="form-input">
      <input class="form-control" ng-model="profileCtrl.residenceSearchTerm" type="text" placeholder="Search...">
    </div>

    <div class="text-right">
      <a class="btn btn-primary btn-round" href="#/residence">New Residence</a>
    </div>

    <list-residence ng-repeat="item in profileCtrl.residences"
      residence="item">
    </list-residence>
  </div>
</div>
