<div>
  <div id="remove-residence-modal.html">
      <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to remove the residence?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning"
        ng-click="removeResidenceModalCtrl.deleteResidence(removeResidenceModalCtrl.residence._id)">
        <span class="glyphicon glyphicon-trash"></span> Yes</button>
          <button class="btn btn-warning" ng-click="removeResidenceModalCtrl.cancel()">Cancel</button>
      </div>
  </div>
</div>
