<div>
  <div id="remove-residence-modal.html">
      <div class="modal-header">
          <h3 class="modal-title">Delete Residence</h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning"
        ng-click="removeResidenceModalCtrl.deleteResidence(removeResidenceModalCtrl.residence._id)">
        <span class="glyphicon glyphicon-trash"></span> Delete Residence </button>
          <button class="btn btn-warning" ng-click="removeResidenceModalCtrl.cancel()">Cancel</button>
      </div>
  </div>
</div>
