<main>
  <nav class="residence-list-container">
    <input ng-model="residenceCtrl.residenceSearchTerm" type="text" placeholder="Search ... ">
    <residence> </residence>
    <ul>
      <residence-li
        ng-repeat=" item in residenceCtrl.residences | residence.Search:residenceCtrl.residenceSearchTerm"
        ng-click="residenceCtrl.currentresidence = item"
        delete-done="residenceCtrl.residenceDeleteDone(residenceData)"
        residence="item"> </residence-li>
    </ul>
  </nav>
</main>
