@import "theme";

.navbar {
  // background-color: rgba(50, 50, 50, .5);
  border-radius: 0;
  color: $app-black;
  margin: 0px;
  border:none;
  border-bottom: 3px solid #CDDC39;

  .btn-logout {
    font-family: sans-serif;
    display: none;
    // @media (min-width: 500px){
    //   display: inline-block;
    // }
  }

  // .btn-dropdown  {
  //   padding: 10%;
  //   span{
  //     font-size: 1.5em;

  //     // @media (min-width: 500px){
  //     //   display: none;
  //     // }
  //   }
  // }
  .navbar-brand  {
    img {
      width:50px;
      height:30px;
    }
  }
}
