@import "theme";

.navbar {
  // background-color: rgba(50, 50, 50, .5);
  border-radius: 0;
  color: $app-black;
  margin: 0px;
  border:none;
  border-bottom: 3px solid #CDDC39;

  .btn-logout {
    font-family: sans-serif;
    display: none;
  }

  .navbar-brand  {
    color: $app-white;
    img {
      width:20px;
      height:20px;
    }
  }
}
