
<div class="list-group">
  <h2> Type: {{ listResidenceCtrl.residence.type }} </h2>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.type }}</p>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.sqft }} sqft</p>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.street }}</p>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.city }}</p>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.zip | uppercase }}</p>
  <p class="list-group-item-text">{{ listResidenceCtrl.residence.state }}</p>
    <!--<p class="list-group-item-text">{{residence.address}}</p>-->
</div>

  <!--bedrooms: [{type: mongoose.Schema.Types.ObjectId, ref: 'bedroom'}],-->
