<div>
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          New Residence
        </div>
      </div>
      <div class="panel-body">
          <form class="form-horizontal"
          novalidate
          ng-submit="newResidenceCtrl.createNewResidence(newResidenceCtrl.residence)">
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Type</label>
            <div class="col-md-8">
              <select class="form-control" name="type" class="form-control" id="type" ng-model="newResidenceCtrl.residence.type" required>
                <option ng-selected="true" ng-value="House">House</option>
                <option ng-value="Apartment">Apartment</option>
                <option ng-value="Condo">Condo</option>
              </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Sqft</label>
            <div class="col-md-8">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                  <input id="sqft" name="sqft" class="form-control" type="text" ng-model="newResidenceCtrl.residence.sqft" required>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Street</label>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input id="street" name="street" class="form-control" type="text" ng-model="newResidenceCtrl.residence.street" required>
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">City</label>
              <div class="col-md-8">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input id="city" name="city" class="form-control" type="text" ng-model="newResidenceCtrl.residence.city" required>
              </div>
            </div>
          </div>

          <div class="form-group">
          <label class="col-md-4 control-label">State</label>
            <div class="col-md-8 selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                  <select class="form-control" ng-model="newResidenceCtrl.residence.state" required >
                    <option ng-repeat="item in newResidenceCtrl.states" value="{{item}}">{{item}}</option>
                  </select>
              </div>
            </div>
          </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Zip Code</label>
              <div class="col-md-8">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input id="zip" name="zip" class="form-control" type="text" ng-model="newResidenceCtrl.residence.zip" required>
              </div>
          </div>
        </div>
            <button type="submit" class="btn btn-primary pull-right">Add Residence</button>
        </form>
      </div>
  </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-body">
      <ul class="list-group" ng-repeat="residence in newResidenceCtrl.residences track by ($index)">
        <a class="list-group-item clearfix" ng-click="newResidenceCtrl.getResidence(residence)">{{residence._id}}
            <span class="pull-right">
                <span class="btn btn-xs btn-primary" uib-tooltip="New Bedroom"
                  ng-click="newResidenceCtrl.getResidence(residence) && newResidenceCtrl.openPopupModalAddBedroom()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bedroom
                </span>
                <span class="btn btn-xs btn-danger" uib-tooltip="Remove Residence" ng-click="newResidenceCtrl.deleteResidence(residence._id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </span>
            </span>
            {{ residence.type }} - {{ residence.sqft }} Sqft <br/>
            {{ residence.street }} {{ residence.city }},{{ residence.state }}  {{ residence.zip | uppercase }}
        </a>
      </ul>
       <div class="well text-center well-round" ng-if="!newResidenceCtrl.residences.length">
          There is no Residence
        </div>
       <ul ng-if="newResidenceCtrl.residences.length" class="text-center" uib-pagination boundary-links="true"
          total-items="newResidenceCtrl.residences.length"
          ng-model="newResidenceCtrl.currentPage"
          ng-change="newResidenceCtrl.pageChanged()"
          class="pagination-sm"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;"
          items-per-page="4"
          max-size="4">
      </ul>
    </div>
    </div>
  </div>

  <div class="col-md-12" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          New Bedroom
        </div>
      </div>
      <div class="panel-body">
          <div class="list-group" id="list1">
             <a href="#" class="list-group-item ">Bedroom Information
               <!--<input title="toggle all" type="checkbox" class="all pull-right">-->
             </a>
          </div>
        <!--<new-bedroom residence-data="newResidenceCtrl.currentResidence"></new-bedroom>-->
      </div>
    </div>
  </div>
</div>
